.task_item {
  background-color: rgba(128, 128, 128, 0.174);
  margin-top: 0.5rem;
  border-radius: 6px;
  font-size: 1.5rem;
  &:hover {
    background-color: rgba(95, 95, 95, 0.2);
  }
  td {
    padding: 0.3rem;
  }
  .task_name {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    .checkbox {
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s ease background-color;
      cursor: pointer;
      & input {
        width: 1.7rem;
        height: 1.7rem;
        cursor: pointer;
      }
      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }
    }
    p {
      width: calc(100% - 3rem);
    }
  }
}

.deleteBtn {
  display: inline-block;
  border: 1px solid crimson;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  color: crimson;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    background-color: rgb(142, 13, 39);
    color: rgb(205, 205, 205);
  }
  &:active {
    transform: translateY(1px) scale(0.9);
  }
}
.editBtn {
  display: inline-block;
  border: 1px solid rgb(197, 220, 20);
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  color: rgb(220, 203, 20);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    background-color: rgb(142, 140, 13);
    color: rgb(205, 205, 205);
  }
  &:active {
    transform: translateY(1px) scale(0.9);
  }
}
.card {
  box-shadow: 0 4px 8px rgba(130, 171, 221, 0.1);
  border-color: aliceblue;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  font-size: 19px;
  position: relative;
  padding-bottom: 70px;
  background-color: #1b1b1b;

  &_header {
    background-color: #3498db;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  &_body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    &_assigned {
      margin-bottom: 15px;
    }

    &_info {
      margin-bottom: 15px;
    }

    &_description {
      strong {
        display: block;
      }
      p {
        margin: 0;
      }
      margin-bottom: 15px;
    }

    &_sub_tasks {
      list-style-type: none;
      padding: 0;

      &_item {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        &_checkbox {
          margin-right: 10px;
        }
      }
    }

    &_due_date {
      font-size: 14px;
      color: #555;
    }

    &_status {
      margin-top: 15px;
      bottom: 0;
      margin-bottom: 30px;
      font-size: 16px;
      color: #27ae60;
      display: flex;
      width: 300px;
      justify-content: space-between;
      position: absolute;
    }
  }
}
.status {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.smallspan {
  width: 120%;
}
